<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>Lost Down a Corridor?</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Dear Chap, you have taken a wrong turn...</p>
        </LayoutView>
    </NotFound>
</Router>
